.frame {
    height: 100px;
    border: 1px ridge rgb(38, 98, 189);
    padding: 10px;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

/* #chart{
    display: flex;
    justify-content: center;
    height: 200px;
} */